.container {
  position: absolute;
  width: 710px;
  top: 20px;
  left: 20px;
  padding: 0px 13px 35px 35px;
  text-align: center;
  border-radius: 12px 12px 5px 5px;
  background: rgb(53, 53, 53);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 30px,
    rgba(255, 255, 255, 1) 0 1px 1px inset, rgba(0, 0, 0, 0.3) 0 -2px 1px inset;
}
.title {
  display: inline-block;
  text-align: center;
  color: rgb(204, 204, 204);
  font-family: arial;
  padding-bottom: 3px;
  width: 100%;
  margin: 14px 0;
}
.inner {
  display: flex;
  justify-content: space-between;
}
.colorpicker-wrap {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #ccc 25%,
      transparent 25%,
      transparent 75%,
      #ccc 75%,
      #ccc
    ),
    linear-gradient(
      45deg,
      #ccc 25%,
      transparent 25%,
      transparent 75%,
      #ccc 75%,
      #ccc
    );
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
}
.colorpicker {
  position: relative;
  overflow: hidden;
  width: 410px;
  height: 410px;
  background-color: rgb(255, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)),
    linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.colorpicker-cursor {
  pointer-events: none;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 400px;
  top: -9px;
  box-sizing: border-box;
  background: linear-gradient(
      transparent 46%,
      white 46%,
      white 53%,
      transparent 53%
    ),
    linear-gradient(
      90deg,
      transparent 47%,
      white 47%,
      white 53%,
      transparent 53%
    );
  border: 1px solid white;
  border-radius: 50%;
}
.colorpicker-cursor.black {
  border-color: black;
  background: linear-gradient(
      transparent 46%,
      black 46%,
      black 53%,
      transparent 53%
    ),
    linear-gradient(
      90deg,
      transparent 47%,
      black 47%,
      black 53%,
      transparent 53%
    );
}
.huepicker {
  position: relative;
  width: 70px;
  height: 410px;
  background-image: linear-gradient(
    hsl(360, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(0, 100%, 50%)
  );
}
.huepicker-cursor {
  position: absolute;
  right: -13px;
  border-right: 10px solid rgb(255, 255, 255);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.preview-wrap {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #ccc 25%,
      transparent 25%,
      transparent 75%,
      #ccc 75%,
      #ccc
    ),
    linear-gradient(
      45deg,
      #ccc 25%,
      transparent 25%,
      transparent 75%,
      #ccc 75%,
      #ccc
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.preview {
  width: 150px;
  height: 120px;
  background: rgb(255, 0, 0);
}
.colorcode-wrap {
  color: rgb(255, 255, 255);
  font-size: 17px;
}
.colorcode-boxes-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.colorcode-boxes {
  flex-basis: 41%;
  margin-right: 8px;
  margin-bottom: 15px;
}
input {
  border-radius: 2px;
  border: 1px solid #777;
  background: #555;
  color: #fff;
}
.colorcode-box span {
  display: inline-block;
  width: 18px;
  font-size: 15px;
}
.colorcode-box input {
  display: inline-block;
  padding: 5px 7px;
  width: 28px;
  margin-bottom: 10px;
  margin-left: 3px;
  font-size: 15px;
}
.colorcode-rgba {
  display: block;
  width: 136px;
  margin-bottom: 15px;
  padding: 8px 5px;
  font-size: 13px;
}
.colorcode-hex {
  display: block;
  width: 136px;
  padding: 5px;
  font-size: 17px;
}
